<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Audition Form</title>
        <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
        <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <main ng-app="AuditionFormApp" ng-controller="MainCtrl" layout="column" layout-align="center center" layout-padding ng-cloak>

            <h1> {{ formHeading }} </h1>
                <form id="loginForm" layout="column" layout-align="center center" ng-submit="sendUserLogin()">
                    <md-content layout="row" layout-align="center center">
                        <md-input-container>
                            <label>First Name</label>
                            <input id="name-first" class="user-definition" type="text" ng-model="user.name.first" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Last Name</label>
                            <input id="name-last" class="user-definition" type="text" ng-model="user.name.last" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Birthdate</label>
                            <input id="birthdate" class="user-definition" type="date" ng-model="user.birthdate" required>
                        </md-input-container>
                    </md-content>
                    <md-button id="user-login" class="md-raised md-primary" type="submit" ng-hide="loggedIn">login</md-button>
                </form>
                <form ng-show="!admin && loggedIn">
                    <md-content layout="row" layout-align="start start">
                        <md-input-container>
                            <input type="text" ng-model="user.height" aria-label="hairlength">
                            <label>Height</label>
                        </md-input-container>
                        <md-input-container>
                            <label>Weight</label>
                            <input type="text" ng-model="user.weight">
                        </md-input-container>
                        <md-input-container>
                            <label>Hair Length</label>
                            <md-select aria-label="hairlength" ng-model="user.hairLength">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="length in hairLengths" ng-value="length"> {{ length }} </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>Hair Color</label>
                            <md-select id="hair-color" aria-label="hairColor" ng-model="user.hairColor">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="color in hairColors" ng-value="color"> {{ color }} </md-option>
                            </md-select>
                        </md-input-container>
                    </md-content>

                    <md-content layout="row" layout-align="start start">
                        <md-input-container>
                            <label>School</label>
                            <input type="text" ng-model="user.school">
                        </md-input-container>
                        <md-input-container>
                            <label>Grade</label>
                            <input type="number" ng-model="user.grade">
                        </md-input-container>
                    </md-content>

                    <md-content layout="row" layout-align="start start">
                        <md-input-container >
                            <label>Address</label>
                            <input ng-model="user.address">
                        </md-input-container>
                        <md-input-container >
                            <label>City</label>
                            <input ng-model="user.city">
                        </md-input-container>
                        <md-input-container >
                            <label>zip</label>
                            <input ng-model="user.zip">
                        </md-input-container>
                    </md-content>

                    <md-content layout="row" layout-align="start start">
                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="user.email" type="email">
                        </md-input-container>
                    </md-content>

                    <md-content layout="row" layout-align="start start">
                        <md-input-container>
                            <label>Home Phone</label>
                            <input type="tel" ng-model="user.homePhone" ng-blur="user.homePhone = phoneNumberFormat(user.homePhone)">
                        </md-input-container>
                        <md-input-container>
                            <label>Alternate Phone</label>
                            <input type="tel" ng-model="user.alternatePhone" ng-blur="phoneNumberFormat('alternatePhone')">
                        </md-input-container>
                    </md-content>

                    <md-content>
                        <h2>Interests</h2>
                        <hr>
                        <md-input-container>
                            <p>Are you interested in a small or large role? </p>
                            <md-select aria-label="roleSize" ng-model="user.perferredRoleSize">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="roleSize in roleSizes" ng-value="roleSize"> {{ roleSize }} </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <p>Will you accept any role?</p>
                            <md-select aria-label="acceptAnyRole" ng-model="user.acceptAnyRole">
                                <md-option>None</md-option>
                                <md-option ng-repeat="response in yesorno" ng-value="response"> {{ response }} </md-option>
                            </md-select>
                        </md-input-container>
                    </md-content>

                    <md-content>
                        <md-input-container>
                            <p>If not cast, are there other areas of production you would be interested in?</p>
                            <!-- <input aria-label="what are you interested in" type="text" ng-model="user.otherInterests"> -->
                            <textarea aria-label="what are you interested in" type="text" ng-model="user.otherInterests"></textarea>
                        </md-input-container>
                    </md-content>

                    <h2>Guardians</h2>
                    <md-content ng-repeat="guardian in user.guardians">
                        <hr>
                        <md-input-container>
                            <label>Name</label>
                            <input class="guardian" aria-label="guardian" type="text" ng-model="guardian.name" ng-change="updateUser()">
                        </md-input-container>
                        <md-input-container>
                            <label>Relationship</label>
                            <input class="guardian" aria-label="guardian" type="text" ng-model="guardian.relationship" ng-change="updateUser()">
                        </md-input-container>
                        <md-input-container>
                            <label>Phone Number</label>
                            <input class="guardian" aria-label="guardian" type="tel" ng-model="guardian.phonenumber"
                                ng-blur=" guardian.phonenumber = phoneNumberFormat(guardian.phonenumber)" ng-change="updateUser()">
                        </md-input-container>
                        <md-input-container>
                            <label>Email</label>
                            <input class="guardian" aria-label="guardian" type="email" ng-model="guardian.email" ng-change="updateUser()">
                        </md-input-container>
                        <md-input-container>
                            <label>Occupation</label>
                            <input class="guardian" aria-label="guardian" type="text" ng-model="guardian.occupation" ng-change="updateUser()">
                        </md-input-container>
                        <md-input-container>
                            <label>Work Address</label>
                            <textarea class="guardian" aria-label="guardian" ng-model="guardian.workAddress" ng-change="updateUser()"></textarea>
                        </md-input-container>
                        <div class="remove-guard-button" layout="row" layout-align="end end">
                            <md-button id="user-login" class="md-warn" ng-click="removeGuardian($index)" aria-label="delete">remove</md-button>
                        </div>
                    </md-content>
                    <hr>
                    <md-button id="user-login" class="md-primary" ng-click="addGuardian()">add guardian</md-button>

                    <div layout="row" layout-align="end end">
                        <md-button id="user-login" class="md-raised md-primary" ng-click="logout()">logout</md-button>
                    </div>
                </form>
                <div layout="row" layout-align="center center" ng-show="admin">
                    <md-button id="user-login" class="md-raised md-primary" ng-click="logout()">admin logout</md-button>
                </div>

        </main>

        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-material/angular-material.min.js"></script>
        <script src="ngSrc/auditionFormApp.js"></script>
        <script> require('./renderer') </script>
    </body>
</html>