<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Audition Form</title>
        <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
        <link href="https://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

        <main ng-app="AuditionFormApp" ng-controller="MainCtrl" layout="column" layout-align="center center" ng-cloak>

            <h1> {{ formHeading }} </h1>
                <form layout="column" layout-align="center center" ng-submit="sendUserLogin()">
                    <md-content layout="row" layout-align="center center">
                        <md-input-container>
                            <label>First Name</label>
                            <input id="name-first" class="user-definition" type="text" ng-model="user.name.first" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Last Name</label>
                            <input id="name-last" class="user-definition" type="text" ng-model="user.name.last" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Birthdate</label>
                            <input id="birthdate" class="user-definition" type="date" ng-model="user.birthdate" required>
                        </md-input-container>
                    </md-content>
                    <md-button id="user-login" class="md-raised md-primary" type="submit">login</md-button>
                </form>

        </main>

        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-material/angular-material.min.js"></script>
        <script src="ngSrc/auditionFormApp.js"></script>
        <script> require('./renderer') </script>
    </body>
</html>